nodes/examples/AlisaPlayerV2.json
[{"id":"d4495325.f811f","type":"tab","label":"Алиса Плеер","disabled":false,"info":""},{"id":"27f5e25d.7de84e","type":"alice-local-in","z":"d4495325.f811f","name":"Alisa","token":"","station_id":"14307894c12064090510","uniqueFlag":false,"debugFlag":false,"output":"status","x":110,"y":260,"wires":[["d1e0480c.b82608","6a436242.7d6fac","c4ede0fe.d8411","4c0d571a.93b798","71d53518.62d3bc","7724edb3.de0844","92c5850c.f34438"]]},{"id":"323dde2.3b06b22","type":"alice-local-out","z":"d4495325.f811f","name":"TTS","token":"","station_id":"14307894c12064090510","debugFlag":false,"input":"tts","volume":"0.6","volumeFlag":true,"stopListening":false,"pauseMusic":true,"noTrack":"","x":570,"y":880,"wires":[]},{"id":"f0c2d9a8.392618","type":"inject","z":"d4495325.f811f","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Умный дом вас приветствует","payloadType":"str","x":150,"y":880,"wires":[["323dde2.3b06b22"]]},{"id":"8048a6e7.d36e18","type":"alice-local-in","z":"d4495325.f811f","name":"Homekit","token":"","station_id":"14307894c12064090510","uniqueFlag":true,"debugFlag":false,"output":"homekit","x":140,"y":960,"wires":[["9b50d6b0.407018"]]},{"id":"4cf5f679.b26ca8","type":"alice-local-out","z":"d4495325.f811f","name":"Homkit","token":"","station_id":"14307894c12064090510","debugFlag":false,"input":"homekit","volume":"0.5","volumeFlag":false,"stopListening":true,"pauseMusic":false,"noTrack":"","x":570,"y":960,"wires":[]},{"id":"9b50d6b0.407018","type":"homekit-service","z":"d4495325.f811f","isParent":true,"bridge":"","parentService":"","name":"Alisa","serviceName":"SmartSpeaker","topic":"","filter":false,"manufacturer":"NRCHKB","model":"1.2.0","serialNo":"Default Serial Number","firmwareRev":"1.2.0","hardwareRev":"1.2.0","softwareRev":"1.2.0","cameraConfigVideoProcessor":"ffmpeg","cameraConfigSource":"","cameraConfigStillImageSource":"","cameraConfigMaxStreams":2,"cameraConfigMaxWidth":1280,"cameraConfigMaxHeight":720,"cameraConfigMaxFPS":10,"cameraConfigMaxBitrate":300,"cameraConfigVideoCodec":"libx264","cameraConfigAudioCodec":"libfdk_aac","cameraConfigAudio":false,"cameraConfigPacketSize":1316,"cameraConfigVerticalFlip":false,"cameraConfigHorizontalFlip":false,"cameraConfigMapVideo":"0:0","cameraConfigMapAudio":"0:1","cameraConfigVideoFilter":"scale=1280:720","cameraConfigAdditionalCommandLine":"-tune zerolatency","cameraConfigDebug":false,"cameraConfigSnapshotOutput":"disabled","cameraConfigInterfaceName":"","characteristicProperties":"{}","waitForSetupMsg":false,"outputs":2,"x":330,"y":960,"wires":[["4cf5f679.b26ca8"],[]]},{"id":"d1e0480c.b82608","type":"function","z":"d4495325.f811f","name":"Артист","func":"var characteristic = {};\ncharacteristic = msg.payload.playerState.subtitle;\nmsg.topic = msg.label = 'Группа';\nnode.status({fill:\"blue\",shape:\"dot\",text: \"Артист: \"+ msg.payload.playerState.subtitle});\nmsg.payload = characteristic;\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":340,"y":60,"wires":[["6d9c01a.fc8c4","7ee3c5f9.a66d1c"]]},{"id":"6a436242.7d6fac","type":"function","z":"d4495325.f811f","name":"Композиция","func":"var characteristic = {};\ncharacteristic = msg.payload.playerState.title;\nmsg.topic = msg.label = 'Песня';\nnode.status({fill:\"green\",shape:\"dot\",text: \"Композиция: \"+ msg.payload.playerState.title});\nmsg.payload = characteristic;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":350,"y":120,"wires":[["2b6da9b6.0c4fb6","25f2f091.cd395"]]},{"id":"c4ede0fe.d8411","type":"function","z":"d4495325.f811f","name":"Воспроизведение","func":"var characteristics;\nif (msg.payload.playing === true)\n{\n    characteristics = \"🔊 Алиса\";\n}\nif (msg.payload.playing === false)\n{\n    characteristics = \"🔇 Алиса\";\n}\nmsg.topic = msg.label = 'Алиса';\nnode.status({fill:\"green\",shape:\"dot\",text: \"Воспроизв.: \"+ msg.payload.playing});\nmsg.payload = characteristics;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":370,"y":200,"wires":[["2b6bf80e.93a2e8","a783dc2a.b9814"]]},{"id":"1397917b.5ef1af","type":"alice-local-out","z":"d4495325.f811f","name":"Player","token":"","station_id":"14307894c12064090510","debugFlag":false,"input":"command","volume":"0.2","volumeFlag":true,"stopListening":false,"pauseMusic":true,"noTrack":"","x":590,"y":640,"wires":[]},{"id":"f8c2a0f0.49c8","type":"ui_button","z":"d4495325.f811f","name":"Next","group":"d9733bee.3bbfe8","order":8,"width":1,"height":1,"passthru":false,"label":"","tooltip":"","color":"","bgcolor":"{{msg.background}}.","icon":"fast_forward","payload":"next","payloadType":"str","topic":"","x":210,"y":680,"wires":[["1397917b.5ef1af"]]},{"id":"fcf7b92e.8539a8","type":"ui_button","z":"d4495325.f811f","name":"Stop","group":"d9733bee.3bbfe8","order":9,"width":1,"height":1,"passthru":false,"label":"","tooltip":"","color":"","bgcolor":"{{msg.background}}.","icon":"pause","payload":"stop","payloadType":"str","topic":"","x":210,"y":620,"wires":[["1397917b.5ef1af"]]},{"id":"f72fcfe6.3e786","type":"ui_button","z":"d4495325.f811f","name":"Play","group":"d9733bee.3bbfe8","order":7,"width":1,"height":1,"passthru":false,"label":"","tooltip":"","color":"","bgcolor":"{{msg.background}}.","icon":"play_arrow","payload":"play","payloadType":"str","topic":"","x":210,"y":560,"wires":[["1397917b.5ef1af"]]},{"id":"6d9c01a.fc8c4","type":"ui_text","z":"d4495325.f811f","group":"d9733bee.3bbfe8","order":10,"width":0,"height":0,"name":"Группа","label":"Группа","format":"{{msg.payload}}","layout":"row-spread","x":560,"y":60,"wires":[]},{"id":"2b6da9b6.0c4fb6","type":"ui_text","z":"d4495325.f811f","group":"d9733bee.3bbfe8","order":11,"width":0,"height":0,"name":"Песня","label":"Песня","format":"{{msg.payload}}","layout":"row-spread","x":550,"y":120,"wires":[]},{"id":"2b6bf80e.93a2e8","type":"ui_text","z":"d4495325.f811f","group":"d9733bee.3bbfe8","order":5,"width":2,"height":1,"name":"Алиса","label":"","format":"{{msg.payload}}","layout":"row-left","x":550,"y":200,"wires":[]},{"id":"76d09e40.f09a6","type":"ui_button","z":"d4495325.f811f","name":"Back","group":"d9733bee.3bbfe8","order":6,"width":1,"height":1,"passthru":false,"label":"","tooltip":"","color":"","bgcolor":"{{msg.background}}.","icon":"fast_rewind","payload":"prev","payloadType":"str","topic":"","x":210,"y":740,"wires":[["1397917b.5ef1af"]]},{"id":"b6324b79.9cdd88","type":"ui_template","z":"d4495325.f811f","group":"d9733bee.3bbfe8","name":"","order":1,"width":6,"height":6,"format":"<img id=\"picture\" src=\"{{msg.payload}}\"  style=\"width:100%;\"/>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":560,"y":260,"wires":[[]]},{"id":"4c0d571a.93b798","type":"function","z":"d4495325.f811f","name":"Алиса","func":"var str;\nvar result;\nif (msg.payload.playerState.extra.coverURI != null || msg.payload.playerState.extra.coverURI != undefined)\n{\n   str = msg.payload.playerState.extra.coverURI;\n}\nelse if (msg.payload.playerState.extra.coverURI == null|| msg.payload.playerState.extra.coverURI != undefined)\n{\n   str = \"avatars.mds.yandex.net/get-music-misc/29541/img.5e6a1c5b38be6e3bae26558a/%%\";\n}\nresult = str.replace(/%%/g,\"600x600\");\nnode.status({fill:\"green\",shape:\"dot\",text: result});\nmsg.payload = \"http://\"+result;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":330,"y":260,"wires":[["b6324b79.9cdd88"]]},{"id":"71d53518.62d3bc","type":"function","z":"d4495325.f811f","name":"Прогресс","func":"var characteristic;\ncharacteristic = msg.payload.playerState.progress;\nmsg.topic = msg.label = 'Прогресс';\nnode.status({fill:\"blue\",shape:\"dot\",text: \"Прогресс: \"+ msg.payload.playerState.progress});\nmsg.payload = characteristic;\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":340,"y":340,"wires":[[]]},{"id":"76ebffbf.3faf1","type":"ui_text","z":"d4495325.f811f","group":"d9733bee.3bbfe8","order":3,"width":"2","height":1,"name":"Длительность","label":"","format":"{{msg.payload}} с","layout":"row-left","x":580,"y":400,"wires":[]},{"id":"7724edb3.de0844","type":"function","z":"d4495325.f811f","name":"Длительность","func":"var characteristic = {};\ncharacteristic = msg.payload.playerState.duration;\nnode.status({fill:\"blue\",shape:\"dot\",text: \"Длительность: \"+msg.payload.playerState.duration});\nmsg.payload = Math.round(characteristic);\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":400,"wires":[["76ebffbf.3faf1"]]},{"id":"a783dc2a.b9814","type":"ui_text","z":"d4495325.f811f","group":"fe298d5a.dccf5","order":8,"width":2,"height":1,"name":"Алиса","label":"","format":"{{msg.payload}}","layout":"row-left","x":710,"y":200,"wires":[]},{"id":"25f2f091.cd395","type":"ui_text","z":"d4495325.f811f","group":"fe298d5a.dccf5","order":14,"width":0,"height":0,"name":"Песня","label":"Песня","format":"{{msg.payload}}","layout":"row-spread","x":710,"y":120,"wires":[]},{"id":"7ee3c5f9.a66d1c","type":"ui_text","z":"d4495325.f811f","group":"fe298d5a.dccf5","order":13,"width":0,"height":0,"name":"Группа","label":"Группа","format":"{{msg.payload}}","layout":"row-spread","x":720,"y":60,"wires":[]},{"id":"637a7459.42480c","type":"alice-local-out","z":"d4495325.f811f","name":"Громкость","token":"","station_id":"14307894c12064090510","debugFlag":false,"input":"raw","volume":"0.2","volumeFlag":true,"stopListening":false,"pauseMusic":true,"noTrack":"","x":590,"y":820,"wires":[]},{"id":"b089ea3c.f924a8","type":"ui_slider","z":"d4495325.f811f","name":"Громкость","label":"Громкость","tooltip":"","group":"d9733bee.3bbfe8","order":2,"width":0,"height":0,"passthru":true,"outs":"all","topic":"","min":0,"max":"1","step":"0.1","x":150,"y":820,"wires":[["77907da3.bbd4a4"]]},{"id":"77907da3.bbd4a4","type":"function","z":"d4495325.f811f","name":"","func":"var characteristics = {};\ncharacteristics.command = \"setVolume\";\ncharacteristics.volume = msg.payload;\nmsg.payload = characteristics;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":340,"y":820,"wires":[["637a7459.42480c"]]},{"id":"92c5850c.f34438","type":"function","z":"d4495325.f811f","name":"Scale","func":"var characteristics;\nif (msg.payload.playerState.duration != 0)\n{\n    characteristics = msg.payload.playerState.progress / msg.payload.playerState.duration;\n}\nmsg.payload = characteristics;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":330,"y":460,"wires":[["399e2de0.179702"]]},{"id":"399e2de0.179702","type":"ui_slider","z":"d4495325.f811f","name":"Время","label":"","tooltip":"","group":"d9733bee.3bbfe8","order":4,"width":"4","height":1,"passthru":true,"outs":"all","topic":"","min":0,"max":"1","step":"0.01","x":550,"y":460,"wires":[[]]},{"id":"d9733bee.3bbfe8","type":"ui_group","name":"Плеер","tab":"758f5d3d.cf2b04","order":1,"disp":true,"width":"6","collapse":false},{"id":"fe298d5a.dccf5","type":"ui_group","name":"Сейчас","tab":"53b49b1a.761264","disp":true,"width":"6","collapse":false},{"id":"758f5d3d.cf2b04","type":"ui_tab","name":"Алиса","icon":"dashboard","order":12,"disabled":false,"hidden":false},{"id":"53b49b1a.761264","type":"ui_tab","name":"Часы","icon":"schedule","order":1,"disabled":false,"hidden":false}]