examples/Node-RED-player.json
[{"id":"c2b59f79.cbf9e8","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"c43607ba.c57e68","type":"inject","z":"c2b59f79.cbf9e8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"stop","payloadType":"str","x":270,"y":160,"wires":[["9ab9fb92.21dd38"]]},{"id":"5dcd9259.57185c","type":"inject","z":"c2b59f79.cbf9e8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"play","payloadType":"str","x":268,"y":200,"wires":[["9ab9fb92.21dd38"]]},{"id":"ac1b8657.5534e8","type":"inject","z":"c2b59f79.cbf9e8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"next","payloadType":"str","x":280,"y":240,"wires":[["9ab9fb92.21dd38"]]},{"id":"cfd0806d.0aeae","type":"inject","z":"c2b59f79.cbf9e8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"prev","payloadType":"str","x":280,"y":280,"wires":[["9ab9fb92.21dd38"]]},{"id":"9ab9fb92.21dd38","type":"alice-local-out","z":"c2b59f79.cbf9e8","name":"Player Command","token":"4cde99df.26bc78","station_id":"","debugFlag":true,"input":"command","volume":"0.5","volumeFlag":false,"stopListening":true,"pauseMusic":false,"noTrack":"","x":610,"y":260,"wires":[]},{"id":"77053561.a5ba84","type":"inject","z":"c2b59f79.cbf9e8","name":"forward","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"forward","payloadType":"str","x":260,"y":120,"wires":[["9ab9fb92.21dd38"]]},{"id":"e2e737bb.1e7b18","type":"inject","z":"c2b59f79.cbf9e8","name":"backward","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"backward","payloadType":"str","x":280,"y":320,"wires":[["9ab9fb92.21dd38"]]},{"id":"3c9fcd3c.d1b5ea","type":"inject","z":"c2b59f79.cbf9e8","name":"volumedown","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"volumedown","payloadType":"str","x":290,"y":400,"wires":[["9ab9fb92.21dd38"]]},{"id":"7b101e74.25a208","type":"inject","z":"c2b59f79.cbf9e8","name":"volumeup","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"volumeup","payloadType":"str","x":280,"y":360,"wires":[["9ab9fb92.21dd38"]]},{"id":"4cde99df.26bc78","type":"yandex-login","z":"","name":"","debugFlag":true}]